.chat__item {
	padding: 1rem;
	margin: 1rem;
	border: 1px solid $gray-400;
	border-radius: 0.25rem;
}

.chat__item--user {
	@extend .chat__item;
	margin-left: 4rem;
	margin-right: 0;
}

.chat__item--chatbot {
	@extend .chat__item;
	margin-right: 4rem;
	margin-left: 0;
}