{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title></title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="{% static 'main.css' %}" />
</head>

<body>

<header>
{% include 'chat/base_header.html' %}
</header>

<main>
{% block content %}{% endblock %}
</main>

<footer>
{% include 'chat/base_footer.html' %}
</footer>

{% if not debug %}
    {% include 'chat/base_analytics.html' %}
{% endif %}

<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
<script type="text/javascript" src="{% static 'main.js' %}" ></script>
</body>
</html>
